link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")

div(class="container full-height d-flex flex-column justify-content-center align-items-center")
    h1 404 Not Found 
    button(
        onclick="history.back()"
    ) Quay lại